[Unit]
Description=pets service thing
Before=shutdown.target reboot.target halt.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pets
Restart=always
User={{ user }}
Environment=ELASTIC_APM_SERVER_URL={{ elastic_apm.server_url }}
Environment=ELASTIC_APM_SECRET_TOKEN={{ elastic_apm.secret_token }}
Environment=ELASTIC_APM_SERVICE_NAME=pets-service
Environment=MONGODB_PETS_USER={{ mongodb.pets.user }}
Environment=MONGODB_PETS_PWD={{ mongodb.pets.pwd }}
Environment=MONGODB_PETS_AUTHSOURCE={{ mongodb.pets.authsource }}
Environment=MONGODB_HOST={{ mongodb.host }}
Environment=MONGODB_PORT={{ mongodb.port }}
Environment=HTTP_HOST={{ pets.host }}
Environment=HTTP_PORT={{ pets.port }}

[Install]
WantedBy=multi-user.target
